[Unit]
Description=Dropbox

[Service]
Type=simple
Environment=DISPLAY=
Environment=WAYLAND_DISPLAY=
ExecStart=%h/.dropbox-dist/dropboxd
Restart=on-failure
RestartSec=15

CPUQuota=50%
MemoryHigh=2G
MemoryMax=3G
Nice=19
IOSchedulingClass=idle

[Install]
WantedBy=default.target
