encryption = "age"

[age]
identity  = "~/.config/chezmoi/key.txt"
recipient = "age1r3x9r3kqx3222l5dr9maanvjck9wj9sldxljr4jlqjq39yz9zv5s069w79"

[hooks.read-source-state.pre]
script = "{{ .chezmoi.sourceDir }}/.hooks/hidden_filenames.bash"

[hooks.edit.post]
script = "{{ .chezmoi.sourceDir }}/.hooks/hidden_filenames.bash"

{{- $gui := ne (or (stat "/usr/share/wayland-sessions") (stat "/usr/share/xsessions")) nil -}}

[data]
  gui = {{ $gui -}}


{{ if (lookPath "code") -}}

[edit]
command = "code"
args = ["--wait"]

{{ end -}}
